{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h1>Compte</h1>

            <ul class="list-group">
                <li class="list-group-item active">Email</li>
                <li class="list-group-item">{{ user[0].email }}</li>
                <li class="list-group-item active">Nom</li>
                <li class="list-group-item">{{ user[0].name }}</li>
                <li class="list-group-item active">Prénom</li>
                <li class="list-group-item">{{ user[0].firstName }}</li>
            </ul>
        </div>
    </div>
{% endblock %}
