{% extends 'base.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h1>Editer un produit</h1>
        </div>

        {{ include('product/_form.html.twig', {'button_label': 'Modifier'}) }}

        <div class="d-flex mt-3">
            <a href="{{ path('product_index') }}" class="btn btn-warning mr-3">Produits</a>
            
            {{ include('product/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
