{% extends 'base.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-3">
                {% include 'produit/_filter.html.twig' with {form: form} only %}
            </div>
            <div class="col-md-9">
                <div class="grid">
                    {% for produit in produits %}
                        {% include 'produit/_card.html.twig' with {produit: produit} only %}
                    {% endfor %}
                </div>
                <div class="mt-4">
                    {{ knp_pagination_render(produits) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
