{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    <div class="site-content site-content-produit container">
        <h1>Produits</h1>

        <pre>
            {{ dump(produits) }}
        </pre>
        {% for produit in produits %}
            <h1>{{ produit.nom }}</h1>
        {% endfor %}
    </div>
{% endblock %}
